<!DOCTYPE html>
<html lang="zh-CN">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="force-rendering" content="webkit" />
    <meta name="renderer" content="webkit" />

    <meta http-equiv="x-dns-prefetch-control" content="on" />
    <link rel="dns-prefetch" href="//www.baidu.com" />

    <meta name="format-detection" content="telephone=no,email=no" />
    <meta name="google" value="notranslate" />

    <link rel="apple-touch-icon" sizes="180x180" href="<%= context.config.publicPath %>apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="<%= context.config.publicPath %>favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="<%= context.config.publicPath %>favicon-16x16.png" />

    <meta http-equiv="Cache-Control" content="no-cache,no-store,must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />

    <title><%= context.config.title %></title>
  </head>

  <body>
    <div id="root"></div>
  </body>

</html>
